<html>
  <head></head>
  <body>
      <form>
        <input type='text' name='form-1' />
        <input type='submit' value='Box 1' />
      </form>
      <form>
        <input type='text' name='form-2' />
        <input type='submit' value='Box 2' />
      </form>
      <form>
        <input type='text' name='form-3' />
        <input type='submit' value='Box 3' />
      </form>
  </body>
</html>